# virtual environment
venv/
.env/

# python cache
__pycache__/
*.pyc

# system files
.DS_Store
Thumbs.db

# IDE
.vscode/

# local testing
local_test/
test_layout.py

# files
backend/app/frequency_dictionary_en_82_765.txt